@model SpamMachine.Models.Category

@{
    ViewData["Title"] = "Details";
}

<div>
    <div class="row p-5 rounded">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
                <div class="col-sm-2 text-white text-uppercase font-monospace">
                    @Html.DisplayNameFor(model => model.Name)
                </div>
                <div class="col-sm-10 text-white">
                    @Html.DisplayFor(model => model.Name)
                </div>
                <div class="col-sm-2 text-white text-uppercase font-monospace">
                    @Html.DisplayNameFor(model => model.Description)
                </div>
                <div class="col-sm-10 text-white">
                    @Html.DisplayFor(model => model.Description)
                </div>
                <hr />
                <div class="d-flex flex-row gap-3">
                    <a asp-action="Edit" class="btn btn-outline-light text-uppercase font-monospace"
                        asp-route-id="@Model?.Id">Edit</a>
                    <a asp-action="Index" class="btn btn-outline-light text-uppercase font-monospace"><i
                            class="fa-solid fa-left"></i>
                        Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
